<!-- start:source.tmpl.hbs -->
{{#extend "site/layout"}}

	{{#content "content"}}
		<section class="source-section">
			<article>{{{doclet.contents}}}</article>
			<pre class="sunlight-highlight-javascript{{#if options.linenums}} linenums{{/if}}">{{{doclet.code}}}</pre>
		</section>
	{{/content}}

{{/extend}}
<!-- end:source.tmpl.hbs -->